$HERO_IMAGE_URL: 'https://s3.us-east-2.amazonaws.com/bs-finalproject-uploads/public/assets/hero-image.jpg';
$LOGIN_BACKGROUND_URL: 'https://s3.us-east-2.amazonaws.com/bs-finalproject-uploads/public/assets/login-background.jpg';
$SIGNUP_BACKGROUND_URL: 'https://s3.us-east-2.amazonaws.com/bs-finalproject-uploads/public/assets/sign-up-background.jpg';