/* Color Definition */
$color-primary: #ff8000;
$color-primary-light: #ffa952;
$color-primary-dark: #be5f00;
$color-primary-alpha: #ff800094;

$color-secondary: #0a49a0;
$color-secondary-light: #4190ff;
$color-secondary-dark: #093574;
$color-secondary-alpha: #0a48a0a2;

$color-black: #261e1e;
$color-gray: #C8CCD4;
$color-gray-light: #e8e9eb;
$color-gray-dark: #8f8f8f;
$color-gray-darker: #696969;
$color-white: white;
$color-error: crimson;

/* Font Family*/
$default-font-family: "Work Sans", Helvetica, sans-serif;

/* Breakpoints */
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
$bp-xs: 375px;

/* Style Reset*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: $default-font-family;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: transparent;
  border: none;
  font-family: $default-font-family;
}